@import url("https://fonts.googleapis.com/css?family=Passion+One");
#hpbacker {
    /* border: 1px red solid; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
}

#hpbacker #topbar {
    background-color: transparent;
}

#hpbacker #userlogout {
    color: white;
    font-weight: 900;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.623);
    border: black 1px solid;
    border-radius: 5px;
    padding: 1px;
}

/* Topbox */

#htopbox {
    position: relative;
    background: url(../../Images/Test4.jpg);
    background-size: 100% 220%;
    background-position: center center;
    height: 30vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: red 1px solid; */
}

/* Usercontent */

#hostcontent {
    position: absolute;
    top: 43vh;
    left: 0px;
    width: 100vw;
    height: 57vh;
}

.uls {
    list-style-type: none;
}

/* Search Bar */

#hbar {
    position: fixed;
    top: 23%;
    width: 100%;
    text-align: center;
    height: 9vh;
    display: flex;
    align-items: center;
    background-color: black;
}

#hbar button {
    height: 5.6vh;
    width: 7vh;
    background-color: black;
    border: none;
}

#hbar button:hover {
    background-color: #92dce5;
}

#hbarcard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2vw;
}

#hbar h3 {
    margin-left: 2vw;
}

#hbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

#hbar a:hover {
    color: #92dce5;
}

#hbar img {
    width: 15px;
}