#lbacker{
    width: 100%;
    height: 650px;
    background-color: #6ba1a7;
}
#login{
    position: absolute;
    left: 700px;
    top: 150px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 3px;
    text-align: center;
    width: 400px;
    height: 350px;
    border-left: white solid 2px;
}
#login h1{
    margin: 20px;
 }
 #login p{
    font-size: 13px;
    margin: 5px;
 }
#login input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    margin: 8px;
}

#login input[type=submit]{
    height: 30px;
    width: 200px;
    border-radius: 8px;
    margin: 8px;
    background-color: black;
    color:white;
    border: none;
}

#login input[type=submit]:hover{
    background-color: #92dce5;
    color:black;
}

#login select{
    height: 30px;
    width: 305px;
    margin: 8px;
}

#login a{
   text-decoration: none;
   color: white;
   font-size: 13px;
}

#login a:hover{
    color:black;
}

#logodiv{
    position: absolute;
    left: 170px;
    top: 150px;
    width: 550px;
    text-align: center;
}
#loglogo{
    width: 350px;
}