#ibacker {
    width: 100%;
    height: 500vh;
    background-color: white;
}

#barlogo {
    z-index: 10;
}

/* Search Bar */

#ibar {
    position: fixed;
    top: -2.8vh;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ibar input {
    border: none;
    height: 3.4vh;
    width: 15vw;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

#ibar input[placeholder="Name"] {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
    border-right: none;
}

#ibar input[placeholder="Address"] {
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

#ibar button {
    height: 4.2vh;
    width: 3vw;
    border-radius: 0px 3px 3px 0px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-left: none;
}

#ibar button:hover {
    background-color: #92dce5;
}

#ibarcard {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ibar img {
    width: 1vw;
    height: 2vh;
}

/* Section */

.imgsection {
    height: 80vh;
}

.isection {
    height: 100vh;
    color: black;
}

/* Image */

#indiv img {
    height: 100%;
    width: 100vw;
}

/* Content */

#studiocontent {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 5vh;
}

#studioinfo {
    width: 47vw;
    height: 97vh;
    float: left;
    margin-right: 5vw;
    text-align: left;
    overflow: scroll;
    /* border: 1px solid black; */
}

#studioinfo p {
    font-size: 2.4vh;
}

#studioinfo h1 {
    color: #6ba1a7;
    font-size: 8vh;
    margin: 0px;
    font-family: 'Phosphate-Inline';
}

#studioinfo h3 {
    font-size: 3vh;
}


#studiotopsub {
    font-size: 2vh;
    margin: 1px;
    color: grey;
    font-weight: 800;
}

#studioaddress {
    font-size: 2.5vh;
    margin: 3px;
    font-weight: 600;
}

#studioinfo div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Booking */

#book {
    width: 25vw;
    float: left;
    height: 50vh;
    border: 5px double black;
    border-radius: 5px;
    padding: 0;
}

#book h3 {
    border: none;
    border-bottom: 2px black solid;
    padding: 20px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3vh;
}

#book select {
    width: 18vw;
    height: 6vh;
    border: lightgrey .5px solid;
    font-size: 2vh;
}

#book button[type=submit] {
    font-size: 2vh;
    width: 18vw;
    height: 6vh;
    border-radius: 8px;
    margin: 8px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
}

#book button[type=submit]:hover {
    background-color: #92dce5;
    color: black;
}

#dateroom p {
    font-size: 2.2vh;
    margin-bottom: 4px;
}

#times {
    /* border: blue 1px solid; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 34vh;
    text-align: center;
}

#times div {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#timesh {
    margin-bottom: 1px;
    font-size: 2.2vh;
}

#times button[type=submit] {
    background-color: #6ba1a7;
    width: 8vw;
    height: 3.5vh;
    margin-top: 3px;
    border-radius: 5px;
    font-size: 2vh;
}

#times p{
    font-size: 2vh;
}

#bookinfo button[type=submit] {
    margin-top: -10px;
    width: 8vw;
    height: 4vh;
    font-size: 1.6vh;
}

#bookcomments textarea{
   width: 20vw;
   height: 22vh;
   border-radius: 5px;
   margin: 3px;
   font-size: 2vh;
}

#bookcomments button[type=submit]{
    margin: 0px;

}

#bookinfo p{
    font-size: 2.5vh;
}